$ cat .gitignore
# exclude everything except Assets
!/Assets
/Assets/Models
/Assets/Resources
/Assets/TextMesh Pro
/Assets/Textures

Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Library/
Logs/
NavMeshComponents.csproj
NavMeshComponentsEditor.csproj
Packages/
ProjectSettings/
Purification-Game-master.sln
Simple.sln
UserSettings/
obj/
.vs/
.vconfig
packages.config