$ cat .gitignore
# exclude everything except Assets
!/Assets/Scripts
Assets/*

Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Library/
Logs/
NavMeshComponents.csproj
NavMeshComponentsEditor.csproj
Packages/
ProjectSettings/
Purification-Game-master.sln
Purification-Game.ln
Simple.sln
UserSettings/
obj/
.vs/
.vconfig
packages.config